/* ====================================
// css variables
// ==================================== */

:root {
}
@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #565656;
  letter-spacing: 0;
  text-align: center;
}

header {
  margin-bottom: 49px;
}

.logo {
  width: 170px;
  height: 100%;
}

.nav {
  margin-top: 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

header {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(../img/img_header.jpeg);
  background-position: center;
}

@media (max-width: 576px) {
  header {
    background-size: 200%;
  }
}

@media (min-width: 576px) {
  header {
    background-size: 130%;
  }
}

@media (min-width: 992px) {
  header {
    background-size: 100%;
  }
}

.img-header {
  padding: 0;
}

.description {
  margin-bottom: 125px;
}

.description-subtitle {
  margin-bottom: 15px;
  font-family: Brother-1816-Medium-Italic;
  font-size: 20px;
  color: #748272;
  letter-spacing: 0;
  text-align: center;
}

.description-title {
  margin-bottom: 43px;
  font-family: Brother-1816-Bold;
  font-size: 30px;
  letter-spacing: 0;
}

.description-content {
  text-align: center;
  margin: 0;
}

.background-beige {
  background-color: #eddac6;
  padding-top: 135px;
}

.section-beige {
  margin-bottom: 150px;
}

.background-section {
  background-color: rgba($color: #fff9f3, $alpha: 1);
}
.background-section {
  @media (min-width: 768px) {
    background-color: transparent;
  }
}

.section-beige img,
.section-green img {
  width: 100vw;
  margin-left: -12px;
}

.section-beige img,
.section-green img {
  @media (min-width: 576px) and (max-width: 768px) {
    margin-left: calc((100vw - 516px) / 2 * -1);
  }

  @media (min-width: 768px) and (max-width: 992px) {
    width: 100%;
    margin: 0;
  }

  @media (min-width: 992px) {
    margin-left: 0;
    width: 200%;

    &.img-right {
      margin-left: -100%;
    }
  }
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.beige-background-color {
  background-color: rgba($color: #fff9f3, $alpha: 0.9);
  padding: 1px;
  z-index: 2;
}

.wrapper {
  z-index: 1;
}

h2 {
  font-family: Brother-1816-Bold;
  font-size: 30px;
  margin: 30px 0 0 50px;
  text-align: left;
}

p {
  text-align: left;
  font-family: MontserratRoman-Light;
  margin: 20px 40px 40px 60px;
}

.p-margin {
  margin-bottom: 19px;
}

.banner {
  margin-bottom: 140px;
  width: 100%;
  height: 200px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}

.banner {
  @media (max-width: 576px) {
    height: 138px;
  }

  @media (min-width: 768px) {
    height: 200px;
  }

  @media (min-width: 992px) {
    height: 278px;
  }

  @media (min-width: 1200px) {
    height: 378px;
  }
}

.white {
  color: #f2ede5;

  @media (min-width: 992px) {
    &.shop-text {
      color: #565656;
    }
  }
}

.green-background-color {
  @media (min-width: 992px) {
    background-color: rgba($color: #f8fff9, $alpha: 0.9);
    z-index: 1;
  }
}

.background-green {
  background-color: #7c897a;
}

.section-green {
  margin-bottom: 140px;
}

.section-map {
  margin-bottom: 100px;
}

.contact {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.contact h2 {
  margin: 0 0 42px;
  padding-left: 50px;
}

.contact p {
  margin: 0 0 80px;
  padding-left: 80px;
}

.google-map {
  @media (max-width: 576px) {
    padding: 0;
  }
}

footer {
  height: 237px;
  background-color: #7c897a;
}

.section-green .img-shop {
  @media (min-width: 992px) {
    width: 100%;
  }
}

footer .description-subtitle {
  text-align: left;
  margin: 46px 0 25px 0;
}

footer p {
  font-family: MontserratRoman-Light;
  color: #f2ede5;
  line-height: 30px;
  margin: 0 0 25px 0;
}

.icon {
  font-size: 30px;
  color: #f2ede5;
  letter-spacing: 20.1px;
  text-align: left;
}

.burger-menu {
  display: flex;
  justify-content: center;
}

.burger-menu a {
  font-family: Brother-1816-ExtraBold-Italic;
  font-size: 25px;
  color: #b1c4b4;
  text-align: right;
  margin: 10px 0 0 0;
  text-decoration: none;
  &:hover {
    color: #eee;
  }
}

.tab {
  @media (max-width: 992px) {
    display: none;
  }
}

.burger-button {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  &.is-activ .burger {
    &:nth-child(1) {
      transform: translate(-1px, 1px) rotate(45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: translate(-1px, 13px) rotate(-45deg);
    }
  }
}

.burger {
  @media (max-width: 992px) {
    width: 35px;
    border: 1.5px solid #b1c4b4;
    border-radius: 25px;
    margin-bottom: 10px;
    transition: 0.5s;
    transform-origin: left;
  }
}

.background-nav {
  background-color: rgba($color: #565656, $alpha: 0.7);
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s;

  &.is-open {
    transform: translateX(0);
  }
}

.wrapper-nav {
  display: flex;
  flex-direction: column;
  margin: 100px 100px 0 0;
}

.wrapper-nav a {
  margin-bottom: 30px;
}

.menu-leave {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s;
  &.is-on {
    transform: translateX(0);
  }
}
